<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.base_station_game">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <service
            android:name=".MyFirebaseInstanceIDService"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".setting"
            android:parentActivityName=".LoginActivity"

            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".LoginActivity" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <activity
            android:name=".UserProfile"
            android:parentActivityName=".MapActivity" />
        <activity
            android:name=".ServiceActivity"
            android:label="@string/title_activity_service"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".DatabaseService"
            android:exported="false" />

        <activity android:name=".MinigameActivity" />
        <activity android:name=".SamplingDebugActivity" />
        <activity android:name=".Engine_Activity" />
        <activity
            android:name=".MapActivity"
            android:label="Map Activity"
            ></activity>

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>